<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RF" filename="logs/selenium/rf.log" immediateFlush="false" filePattern="/home/sxd/r\ q/rf-%d{yyyyMMdd-HHmmss}.log">
            <PatternLayout pattern="[%p] %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
  </Appenders>
	
	<Loggers>
		<Logger level="trace">
            <appender-ref ref="RF" />
        </Logger>
	</Loggers>
</Configuration>